.reviewCard {
  width: 543px;
  height: 323px;
  background-color: white;
  border-radius: 35px;
  margin-bottom: 30px;
  .content {
    margin-top: 43px;
    margin-left: 61px;
    width: 435px;
    display: flex;
    flex-direction: column;
    .topContent {
      height: 94px;
      display: flex;
      .avatar {
        margin-top: 9px;
      }
      .nameDiv {
        margin-top: 12px;
        margin-left: 10px;
        .name {
          font-size: 22px;
          margin-bottom: 0;
        }
        .date {
          font-size: 18px;
        }
      }
    }
    .textContent {
      margin-top: 10px;
      .text {
        font-size: 20px;
        text-align: left;
      }
    }
    .readMoreDiv {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .readMore {
        text-decoration: none;
        color: #cccccc;
        font-weight: 500;
        font-size: 20px;
      }
    }
    .rateContent {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
  }
}
@media only screen and (max-width: 1175px) {
  .reviewCard {
    width: 467px;
    .content {
      margin-top: 25px;
      margin-left: 13px;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .reviewCard {
    width: 100%;
    .content {
      width: 90%;
      margin-top: 33px;
      margin-left: 38px;
      .textContent {
        margin-top: 14px;
      }
      .readMoreDiv {
        margin-top: 10px;
      }
    }
  }
}

@media only screen and (max-width: 641px) {
  .reviewCard {
    .content {
      margin-top: 15px;
      margin-left: 15px;
      .textContent {
        .text {
          font-size: 15px;
        }
      }
    }
  }
}
.ant-avatar-circle .ant-avatar-image .userAvatar {
  width: 64px !important;
  height: 64px !important;
}

@media only screen and (max-width: 471px) {
  .reviewCard {
    .content {
      .topContent {
        .avatar {
          //.ant-avatar .ant-avatar-circle .ant-avatar-image .userAvatar {
          //  width: 64px !important;
          //  height: 64px !important;
          //}
        }
        .nameDiv {
          .name {
            font-size: 19px;
          }
          .date {
            font-size: 16px;
          }
        }
      }
    }
  }
}