.reviewCard {
  width: 543px;
  height: 323px;
  border: 1px solid red;
  background-color: white;
  border-radius: 35px;
  margin-bottom: 30px;
  .topContent {
    width: 387px;
    height: 85px;
    border: 1px solid cyan;
    margin-top: 57px;
    margin-left: 86px;
  }
}