.reviewCard {
  width: 543px;
  height: 323px;
  background-color: white;
  border-radius: 35px;
  margin-bottom: 30px;
  .content {
    margin-top: 43px;
    margin-left: 61px;
    width: 435px;
    display: flex;
    flex-direction: column;
    .topContent {
      height: 94px;
      display: flex;
      .avatar {
        margin-top: 9px;
      }
      .nameDiv {
        margin-top: 12px;
        margin-left: 10px;
        .name {
          font-size: 22px;
          margin-bottom: 0;
        }
        .date {
          font-size: 18px;
        }
      }
    }
    .textContent {
      margin-top: 10px;
      .text {
        font-size: 20px;
        text-align: left;
      }
    }
    .readMoreDiv {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .readMore {
        text-decoration: none;
        color: #cccccc;
        font-weight: 500;
        font-size: 20px;
      }
    }
    .rateContent {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
  }
}