.introduction {
  width: 100%;
  background-color: #f1f1f1;
  position: relative;
  .typesDiv {
    position: absolute;
    max-width: 1118px;
    background-color: white;
    left: 0;
    top: -95px;
    //bottom: 900px;
    right: 0;
    margin: auto;
    z-index: 1;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 62px 0;
    .typesItem {
      height: 124px;
      width: 276px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .name {
        margin-top: 3px;
        font-size: 30px;
        font-family: Open-Sans;
      }
    }
    .typesItem:nth-child(-n+3) {
      border-right: 1px solid #e0e0e0;
    }
  }
  .contentBackRound {
    padding-top: 200px;
    padding-bottom: 100px;
    width: 100%;
    //position: absolute;
    z-index: 1;
    //bottom: 0;
    background-image: url("../../../assets/images/bg.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .titleDiv {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 450px;
      z-index: 2;
      //top: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: #f1f1f1;
      .title {
        font-size: 45px;
        font-family: Open-Sans;
      }
    }
    .content {
      margin: 30px auto 0;
      max-width: 1141px;
      border: 2px solid #ebdec3;
      .text {
        margin-top: 30px;
        padding: 0 39px;
        font-size: 20px;
        line-height: 29px;
        font-family: Open-Sans;
      }
      .offerDiv {
        width: 700px;
        margin: 80px auto;
        .title {
          font-size: 20px;
          font-weight: 700;
          line-height: 34px;
          color: #2A2A2A;
          text-align: center;
        }
        .offers {
          width: 100%;
          //height: 82px;
          display: flex;
          justify-content: space-between;
          .offersUl {
            list-style-type: none;
            .item {
              display: flex;
              align-items: center;
              .icon {
                width: 13px;
                height: 13px;
                border-radius: 50%;
                background-color: #deb96a;
              }
              span {
                margin-left: 5px;
                font-size: 18px;
                font-weight: 400;
                line-height: 34px;
              }
            }
          }

        }
      }
    }
  }
}
@media only screen and (max-width: 1126px) {
  .introduction {
    .typesDiv {
      max-width: 950px;
    }
    .contentBackRound {
      .content {
        width: 95%;
      }
    }
  }
}
@media only screen and (max-width: 960px) {
  .introduction {
    .typesDiv {
      max-width: 760px;
      .typesItem {
        width: 190px;
      }
    }
  }
}
@media only screen and (max-width: 824px) {
  .introduction {
    .typesDiv {
      max-width: 760px;
      .typesItem {
        width: 190px;
      }
    }
  }
}
@media only screen and (max-width: 761px) {
  .introduction {
    .contentBackRound {
      padding-top: 270px;
      .titleDiv {
        .title {
          font-size: 39px;
        }
      }
      .content {
        .offerDiv {
          width: 100%;
          .title {
            margin-left: 30px;
            text-align: left;
          }
          .offers {
            flex-direction: column;
            .offersUl {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .typesDiv {
      width: 414px;
      flex-wrap: wrap;
      padding: 20px 0;
      justify-content: center;
      .typesItem {
        width: 190px;
        padding: 6px;
        //margin: 8px;
      }
      .typesItem:nth-child(-n+1) {
        border-right: 1px solid #e0e0e0;
      }
      .typesItem:nth-child(-n+2) {
        border-bottom: 1px solid #e0e0e0;
      }
      .typesItem:nth-child(2) {
        border-left: 1px solid #e0e0e0;
        border-right: none;
      }
      .typesItem:nth-child(n+3) {
        border-top: 1px solid #e0e0e0;
      }
      .typesItem:nth-child(4) {
        border-left: 1px solid #e0e0e0;
        border-right: none;
      }
    }
  }
}
@media only screen and (max-width: 641px) {
  .introduction {
    .contentBackRound {
      .titleDiv {
        width: 368px;
      }
    }
  }
}
@media only screen and (max-width: 461px) {
  .introduction {
    .typesDiv {
      top: -178px;
      width: 295px;
      .typesItem {
        width: 135px;
        .name {
          font-size: 18px;
        }
      }
    }
    .contentBackRound {
      padding-top: 168px;
      .titleDiv {
        width: 300px;
        .title {
          line-height: 1.775;
          font-size: 30px;
        }
      }
      .content {
        .text {
          font-size: 16px;
        }
        .offerDiv {
          .title {
            font-size: 17px;
            line-height: 25px;
          }
          .offers {
            .offersUl {
              .item {
                span {
                  font-size: 17px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 461px) {
  .introduction {
    .contentBackRound {
      .titleDiv {
        width: 264px;
        .title {
          padding: 0;
          margin: 0;
          font-size: 26px;
        }
      }
      .content {
        .text {
          font-size: 14px;
        }
        .offerDiv {
          .title {
            font-size: 17px;
            line-height: 25px;
          }
          .offers {
            .offersUl {
              .item {
                span {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}