.about {
  width: 100%;
  background-color: #f1f1f1;
  .content {
    width: 1118px;
    height: 452px;
    margin: 0 auto;
    border-top: 1px solid #b9b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
   .cards {
     width: 100%;
      display: flex;
      justify-content: space-between;
   }
  }
}